mixin team(title, image, members, wanted_skills)
  .ui.item
    .ui.small.image
      img.team-image(src=image)
    .ui.content
      .header= title
      .ui.grid
        .twelve.wide.column
          .ui.list
            each member in members
              .item
                a.ui.label.gray(href='/profile')= member.name
                  .detail= member.proffession

        .four.wide.right.aligned.column
          .ui.list
            each skill in wanted_skills
              .item.role(data-content="Prijavi se!")
                a.ui.label.stretched.centered.text.blue= skill

